accelerate==1.2.1
cycler==0.12.1
diffusers==0.32.1
Flask==3.1.0
imageio==2.36.1
numpy==2.0.2
onnxruntime==1.20.1
opencv-python-headless==4.10.0.84
packaging==24.2
pillow==11.0.0
referencing==0.35.1
regex==2024.11.6
rembg==2.0.61
requests==2.32.3
rpds-py==0.22.3
safetensors==0.4.5
scikit-image==0.25.0
scipy==1.14.1
sympy==1.13.1
tifffile==2024.12.12
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
transformers==4.47.1
